@model IEnumerable<final_project.Models.Department>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dep_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dep_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.DepId  }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.DepId })
            </td>
        </tr>
}
    </tbody>
</table>
